<aside class="sidebar" id="sidebar">
    <div class="logo-area">
        <i class="fa-solid fa-boxes-stacked"></i>
        <span>Inventaris</span>
    </div>
    <ul class="menu-list">
        <li><a href="index.html" class="menu-item"><i class="fa-solid fa-house"></i> <span>Dashboard</span></a></li>
        <li><a href="product.html" class="menu-item"><i class="fa-solid fa-box"></i> <span>Product</span></a></li>
        <li><a href="checkout.html" class="menu-item"><i class="fa-solid fa-cart-shopping"></i> <span>Checkout</span></a></li>
        <li><a href="addproduct.html" class="menu-item"><i class="fa-solid fa-square-plus"></i> <span>Add Product</span></a></li>
        <!-- <li><a href="listbarangrusak.html" class="menu-item"><i class="fa-solid fa-triangle-exclamation"></i> List Barang Rusak</a></li> -->
        <li><a href="reportbarangrusak.html" class="menu-item"><i class="fa-solid fa-file-contract"></i> Report Barang Rusak</a></li>
    </ul>
</aside>